<ngx-remote-desktop [manager]="manager">
  
  <!-- Override connection state messages -->
  <ngx-remote-desktop-connecting-message>
      <div class="ngx-remote-desktop-message-title ngx-remote-desktop-message-title-success">
          CONNECTING TO REMOTE DESKTOP
      </div>
      <div class="ngx-remote-desktop-message-body">
          Attempting to connect to the remote desktop. Waiting for response...
      </div>
  </ngx-remote-desktop-connecting-message>

  <!-- Status bar -->
  <ngx-remote-desktop-status-bar *ngIf="manager.isConnected()">
      <ngx-remote-desktop-status-bar-item>Hello world!</ngx-remote-desktop-status-bar-item>
  </ngx-remote-desktop-status-bar>
</ngx-remote-desktop>
