<div *ngIf='notLoggedIn' class='general-form-container'>
  <div class='general-form'>
    <h2>You must <a routerLink='/login' class='primary-link'>login</a> or <a routerLink='/register' class='primary-link'>register</a> to view profile details</h2>
  </div>
</div>

<div *ngIf='userType == ""' class='general-form-container'>
  <div class='general-form'>
    <h2>Hi {{email}} - <a routerLink='/info' class='primary-link'>Submit info</a> to view your profile details on this page</h2>
  </div>
</div>

<div *ngIf='userType == "Patient"' class='general-form-container'>
  <div class='general-form'>
    <mat-list role='list'>
      <mat-list-item><span matListItemTitle class='listitem-text'>Hi Patient {{email}}, your NeuroRecovery profile details:</span></mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Name: {{patientForm.full_name}}</mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Stroke Date: {{patientForm.stroke_date}}</mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Injury Side: {{patientForm.injury_side}}</mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Additional Info: {{patientForm.additional_info}}</mat-list-item>
    </mat-list>
  </div>
</div>

<div *ngIf='userType == "Therapist"' class='general-form-container'>
  <div class='general-form'>
    <mat-list role='list'>
      <mat-list-item><span matListItemTitle class='listitem-text'>Hi Therapist {{email}}, your NeuroRecovery profile details:</span></mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Name: {{therapistForm.full_name}}</mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Number of Patients: {{therapistForm.num_patients}}</mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Expected number of weekly appointments: {{therapistForm.expected_weekly_appointments}}</mat-list-item>
      <mat-list-item role='listitem' class='listitem-text'>Additional Info: {{therapistForm.additional_info}}</mat-list-item>
    </mat-list>
  </div>
</div>
