@import '../../styles.scss';

.margin {
  margin: 0 auto;
}

.stretch {
  width: 100%;
}

.margin-above {
  margin-top: 0.5vh;
}

.small-margin-below {
  margin-bottom: 0.5vh;
}

.margin-below {
  margin-bottom: 2vh;
}

.listitem-text {
  font-size: 110%;
}

.card-header {
  font-size: 130%;
}
