<div *ngIf='notLoggedIn' class='general-form-container'>
  <div class='general-form'>
    <h2>You must <a routerLink='/login' class='primary-link'>login</a> or <a routerLink='/register' class='primary-link'>register</a> to view profile details</h2>
  </div>
</div>

<div *ngIf='userType == ""' class='general-form-container'>
  <div class='general-form'>
    <h2>Hi {{email}} - <a routerLink='/info' class='primary-link'>Submit info</a> to view your profile details on this page</h2>
  </div>
</div>

<div *ngIf='userType == "Patient"' class='general-form-container'>
  <div class='general-form'>
    <h2>Hi Patient {{email}}, your NeuroRecovery profile details:</h2>
    <ul>
      <li>Name: {{patientForm.full_name}}</li>
      <li>Stroke Date: {{patientForm.stroke_date}}</li>
      <li>Injury Side: {{patientForm.injury_side}}</li>
      <li>Additional Info: {{patientForm.additional_info}}</li>
    </ul>
  </div>
</div>

<div *ngIf='userType == "Therapist"' class='general-form-container'>
  <div class='general-form'>
    <h2>Hi Therapist {{email}}, your NeuroRecovery profile details:</h2>
    <ul>
      <li>Name: {{therapistForm.full_name}}</li>
      <li>Number of Patients: {{therapistForm.num_patients}}</li>
      <li>Expected number of weekly appointments: {{therapistForm.expected_weekly_appointments}}</li>
      <li>Additional Info: {{therapistForm.additional_info}}</li>
    </ul>
  </div>
</div>
