@import '../../styles.scss';

.divider {
  margin-bottom: 1vh;
}

.search-results-container {
  margin-bottom: 1.5vh;
}

.search-results-list-container {
  margin-bottom: 1.5vh;
}

.patient-search-result-email {
  margin-right: 4vw;
  margin-top: 0.5vh;
}

.your-patients-item {
  margin-bottom: 1vh;
}
