@import '../../styles.scss';

.login-form-container {
  @include accent-background;
}

.login-form {
  @include centered-container;
}

.horizontal-div-container {
  display: flex;
  gap: 4vh;
}

.form-input-container {
  width: 100%;
}

.form-add-button {
  margin-bottom: 0.8vh;
}

.form-input-wide {
  width: 100%;
}

.loading-bar-container {
  margin-top: 1.5vh;
}

.last-input-container {
  margin-bottom: 1.5vh;
}

.register-text {
  padding-top: 1vh;
}

.register-link {
  color: #c2185b;
}
