<div class='buttons-container'>
    <div class='recommended-box' *ngIf="injuryType == 'Upper Limb' || injuryType == 'Lower Limb'">
        <ng-container *ngIf="injuryType == 'Upper Limb'">
            <h2>Recommended based on your {{ injuryType }} injury</h2>
            <button class='recommended-button' routerLink='/instant-ul' color='primary' mat-raised-button>Start Upper Limb General Exercise Session</button>
        </ng-container>
        <ng-container *ngIf="injuryType == 'Lower Limb'">
            <h2>Recommended based on your {{ injuryType }} injury</h2>
            <button class='recommended-button' routerLink='/instant-ll' color='primary' mat-raised-button>Start Lower Limb General Exercise Session</button>
        </ng-container>
    </div>
    <ng-container *ngIf="injuryType != 'Upper Limb'">
        <button class='full-width-button' routerLink='/instant-ul' color='primary' mat-raised-button>Start Upper Limb General Exercise Session</button>
    </ng-container>
    <ng-container *ngIf="injuryType != 'Lower Limb'">
        <button class='full-width-button' routerLink='/instant-ll' color='primary' mat-raised-button>Start Lower Limb General Exercise Session</button>
    </ng-container>
    <button class='full-width-button' routerLink='/instant-hand' color='primary' mat-raised-button>Start Hand and Wrist General Exercise Session</button>
</div>
